{% extends "layout.html.twig" %}

{% block title %}
    Page ajouter Indice
{% endblock %}

{% block content %}
<div class="bg-light rounded px-3 py-3">
    <div class="container">
      <h1>Ajouter un Indice</h1>
    </div>
  </div>
  <div class="container mb-5">
      
    <form action="index.php?page=addIndice" method="POST">
        <div class="mb-3">
            <label for="Indice" class="form-label">Cout de l'heure</label>
            <input type="number" class="form-control" id="Indice" name="Indice" step="0.01">
          </div>
    <button type="submit" class="btn btn-primary" name="btnAddIndice">Ajouter un Indice</button>
    </form>
</div>

{% endblock %}