{% extends "layout.html.twig" %}

{% block title %}
    Page Supprimer un Contrat
{% endblock %}

{% block content %}
<div class="bg-light rounded px-3 py-3">
    <div class="container">
        <h1>Supprimer un Contrat</h1>
    </div>
</div>
<div class="container mb-5">
    <form action="index.php?page=delContrat" method="POST"> <!-- je veux que tu ailles sur ma route addProduct en méthode POST => utilisation de la variable globale $_POST-->
        <div class="mb-3">
            <label for="ContratLabel" class="form-label">Choisir une Contrat à supprimer :</label>
            <div>
                <select name="Contrat" size="1">                    
                    {% for contrat in contrats %}
                        <option value={{ contrat.IDContrat }}>{{ contrat.DateSignature }} avec {{ contrat.NomContact }} comme contact pour {{ contrat.NomEntreprise }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary" name="btnDelContrat" href="">Supprimer un Contrat</button>
        </div> 
    </form>
</div>
{% endblock %}