{% extends "layout.html.twig" %}

{% block title %}
    Page erreur db
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="alert  text-center alert-danger" role="alert">
            Notre site est actuellement indisponible, revenez dans quelque minute !
        </div>
    </div>
{% endblock %}
