{% extends "layout.html.twig" %}

{% block title %}
    Simpleduc
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <h1 class="text-dark">
            Simpleduc
        </h1>
    </div>
{% endblock %}