{% extends "layout.html.twig" %}

{% block title %}
    Page Modification Indice
{% endblock %}

{% block content %}
<div class="bg-light rounded px-3 py-3">
  <div class="container">

    {% if indicenull == true %}
      <h1>L'Indice n'existe pas</h1>
    {% else %}
        <h1>Modifier l'Indice n° {{ updateIndice.IDIndice }}</h1>
    {% endif %}
  </div>
</div>
<div class="container mb-5"> 
    
    {% if indicenull == false %}

  <form action="?page=updateIndice&id={{ updateIndice.IDIndice }}" method="POST">
    <div class="mb-3">
      <label for="Indice" class="form-label">Cout Horaire</label>
      <input type="number" class="form-control" id="Indice" name="Indice" value="{{ updateIndice.CoutHoraire }}">
    </div>
    <button type="submit" class="btn btn-primary" name="btnUpdIndice"> modifier un indice</button>
    </form>

    {% endif %}
</div>


{% endblock %}
