<p>Bonjour {{ email }},</p>
<p>Merci d’avoir rejoint notre site.</p> 

<p>Pour confirmer votre email, cliquer sur <a href="https://s4-8057.nuage-peda.fr/projet1E5SLAM/index.php?page=verificationemail&email={{email}}&code={{ numero }}">le lien de Confirmation</a>.</p>
<p>
    Cordialement,<br /> 
    L’équipe Simpleduc
</p>